<section class="jumbotron text-center">
  <div class="container">
    <h1 class="jumbotron-heading">IP Monitor</h1>
    <p class="lead text-muted">IP Monitor is a application that monitors the availability of digital assets</p>
  </div>
</section>

<div class="container py-5">
  <div class="col">
    <h2>IP Monitor Legend</h2>
    <p class="alert alert-success">Everything is good</p>
    <p class="alert alert-warning">Able to talk to the server, but I didn't get back a tile</p>
    <p class="alert alert-danger">I wasn't able to talk to the server, or the request timed out</p>

    <h2>Features of IPMonitor Include:</h2>
    <ul>
      <li>RESTful API</li>
      <li>Individual file status</li>
      <li>File availability history</li>
    </ul>
  </div>
</div>
